*{
	padding: 0;
	margin: 0;
}
body{
	background: url(images/bg_img.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}
#form{
	padding: 20px 40px;
}
#form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
#form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
#form label{
	margin-top: 30px;
    padding-top: 30px;
}
#form .gap{
	margin-top: 30px;
}
#form label .gap{
	margin-bottom: 20px;
}
#form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #ec07ff;
    
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
#form button:hover{
	background: #a903ff;
}
/* #form #errorMsg {
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	 display: none; 
    display:flexbox;
} */


